{% extends "layout.html" %}

{% block title %}
    Change
{% endblock %}

{% block main %}

<form action="/change" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="New password" required type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation password" required type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
